.sidebar {
    width: 72px;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: rgb(254, 254, 254);
    flex-direction: column;
    justify-content: space-between;
    z-index: 200px;

}
.sidebar-box {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-box:hover {
    background-color: rgb(235, 235,235);
}
.sidebar-box img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-box div {
    font-family: Roboto,Arial;
    font-size: 10px;
}
